.containersx{
    width: 48%;
    float: left;
    display: inline-block;
    border: 2px solid black;
    height: 100%;
    
}

body{
    background: url("back.png");
    font-family: "Lucida Sans Unicode";
}

.containerdx{
    padding-top: 50px;
    margin: 0 auto;
    display: block;
    border: 2px solid black;
    height: 100%;
    width: 95%;
    text-align: center;
}

#logo1{
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 420px;
    padding: 20px;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.50), 0 5px 5px rgba(0, 0, 0, 0.44);
}

.box{
    margin-top: 280px;
    border: 2px solid black;
    display: block;
    width: 500px;
    text-align: center;
    padding: 40px;
    background-color: #d6214c;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.50), 0 5px 5px rgba(0, 0, 0, 0.44);
    border-radius: 3px;
    margin: 0 auto;
}

.text-center{
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.inputdata{
    padding: 10px;
    background: none;
    border: none;
    outline: none;
}

.inputbox{
    margin: 0 auto;
    display: block;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 25px;
    width: 300px;
    background: white;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.50), 0 5px 5px rgba(0, 0, 0, 0.44);
}

#icon{
    color: #d6214c;
}

.btn{
    text-transform: uppercase;
    padding: 10px;
    width: 200px;
    background: #a9da69;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.50), 0 5px 5px rgba(0, 0, 0, 0.44);
    transition: 0.3s;
}

.btn:hover{
    cursor: pointer;
    transform: scale(0.95);
    transition: 0.3s;
    background: #80a550;
    outline: none;
}

#box{
    border: 2px solid black;
    color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.50), 0 5px 5px rgba(0, 0, 0, 0.44);
}


.number_container{
    display: block;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    background-color: #d6214c;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.50), 0 5px 5px rgba(0, 0, 0, 0.44);
    border-radius: 3px;
}

#titolo{
    background: #d6214c;
    display: block;
    width: 700px;
    padding: 15px;
    margin-top: 40px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.50), 0 5px 5px rgba(0, 0, 0, 0.44);
    margin-left: 100px;
    border-radius: 3px;
}

.text{
    color: white;
    margin-right: 40px;
    font-weight: bold;  
    font-size: 20px;
}


.table_container{
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 100px;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    margin-top: 30px;
}

table:hover tr{
    opacity: 0.2;
    cursor: pointer;
}

table tr{
    transition: 0.5s;
}

table td{
    text-align: center;
    padding: 8px;
    background-color: white;
    color: black;
}

table tr:hover {
    background-color: #d6214c;
    transform: scale(1.1);
    transition: 0.3s;
    opacity: 1;
    cursor: pointer;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d6214c;
    color: white;
    font-weight: 600;
}

table tr th{
    background-color: #d6214c;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
}

#titolo2{
    color: #d6214c;
    font-weight: bold;
}

.n_text{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.grafico{
    color: white;
    padding: 50px;
    background-color: white;
    width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    transition: 0.3s;
    border-radius: 5px;
}

.grafico:hover{
    transform: scale(1.25);
    transition: 0.3s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

#check_user_icon{
    color: white;
    transform: scale(1.5);
    margin-right: 20px;
    margin-left: 10px;
}
